body {
  width: 290px;
  margin: auto;
}

.Post {
  margin: 20px auto;
  padding: 12px 20px;
  border: 1px solid #eee;
  border-radius: 4px;
}

.Post__Image {
  max-width: 250px;
}

.Nav {
  margin-bottom: 20px;
}

.Nav a {
  text-decoration: none;
  margin-right: 10px;
  padding: 6px;
  border: 1px solid #eee;
  border-radius: 4px;
}

.Nav a.active {
  text-decoration: underline;
}
